@font-face {
  font-family: "Roboto";
  src: url("../fonts/../fonts/Roboto-Regular.woff2") format("woff2"),
    url("../fonts/../fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Textos";
  src: url("../fonts/../fonts/QuintoAndarTextos-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Textos";
  src: url("../fonts/../fonts/QuintoAndarTextos-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Titulos";
  src: url("../fonts/../fonts/QuintoAndarTitulos-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
.icon-checkbox:before {
  color: #fff;
}
.icon-close:before {
  color: #fff;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  font-size: 100%;
  font: inherit;
}

/* HTML5 display-role reset for older browsers */
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
body {
  font-family: "Textos", sans-serif;
  background-color: white;
}
button {
  border: 0;
  background: none;
  font-family: inherit;
}
textarea input::-moz-placeholder {
  font-family: inherit;
}
textarea input:-ms-input-placeholder {
  font-family: inherit;
}
input,
button,
textarea input::placeholder {
  font-family: inherit;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  -webkit-appearance: none;
}
.swiper-container {
  list-style: none;
}
.swiper-pagination-bullet {
  border-radius: 50%;
  background: #ffffff;
  opacity: 0.5;
}
.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer;
}
.swiper-pagination-bullet-active {
  opacity: 1;
}
.swiper-button {
  background: rgba(66, 66, 66, 0.6);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.swiper-button:before {
  font-family: "icomoon";
  color: #ffffff;
  font-size: 32px;
}
.slider__badge {
  pointer-events: none;
  background-color: #e4f4ec;
  border-radius: 4px;
  color: #007844;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.5;
}
.slider__link {
  color: white;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.4;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 8px;
}
.swiper-wrapper .swiper-slide:last-child:before {
  background: #424242;
  opacity: 0.8;
}
.btn-reset {
  border: none;
  background: transparent;
  cursor: pointer;
}
.block__title {
  font-family: 'Titulos', sans-serif;
  color: black;
  font-size: 21px;
  font-weight: 500;
  line-height: 1.2;
}
.block__subtitle {
  color: #342d28;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
}
.header {
  border-bottom: 1px solid #e0e0e0;
  background-color: #fff;
}
.header-search {
  border: 1px solid #e0e0e0;
  border-radius: 8px;
}
.header-search .icon-search {
  font-size: 24px;
  color: #757575;
}
.header-search .icon-close {
  font-size: 24px;
}
.header-search .search__reset {
  border-radius: 100%;
  transition: all 0.3s ease-in-out;
}
.header-search .search__reset i {
  font-size: 24px;
}
.header-search .search__reset i::before {
  color: #757575;
}
.header-login {
  text-decoration: none;
  color: #5063f0;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.4;
  border: 1px solid #5063f0;
  border-radius: 8px;
  background-color: #ffffff;
  transition: all 0.15s ease-in-out;
}
.header-login .ripple {
  border-radius: 50%;
  background-color: #ffffff;
  transform: scale(0);
  -webkit-animation: ripple 0.4s linear;
  animation: ripple 0.4s linear;
}
.header-login:hover {
  background-color: #e9e9fd;
}
.header-login:active {
  color: #ffffff;
  background-color: #5063f0;
}
#h-search {
  font-family: 'Textos', sans-serif;
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  border: none;
  background: transparent;
}
#h-search::-moz-placeholder {
  font-family: 'Textos', sans-serif;
  color: #bdbdbd;
  font-size: 14px;
  font-weight: 400;
}
#h-search:-ms-input-placeholder {
  font-family: 'Textos', sans-serif;
  color: #bdbdbd;
  font-size: 14px;
  font-weight: 400;
}
#h-search::placeholder {
  font-family: 'Textos', sans-serif;
  color: #bdbdbd;
  font-size: 14px;
  font-weight: 400;
}
#h-search::-webkit-search-decoration,
#h-search::-webkit-search-cancel-button,
#h-search::-webkit-search-results-button,
#h-search::-webkit-search-results-decoration {
  -webkit-appearance: none;
}
.nav__link, .help__link {
  color: #424242;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  border-bottom: 1px solid transparent;
  transition: all .3s ease-in-out;
  text-decoration: none;
}
.nav__link:hover, .help__link:hover {
  border-color: #424242;
}
.sub-menu {
  background: #FFFFFF;
  box-shadow: 0px 0px 7.5px -1px rgba(0, 0, 0, 0.15), 0px 10px 12.5px -5px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  transition: all .3s ease-in-out;
  pointer-events: none;
}
.sub-menu__link {
  color: #424242;
  font-size: 16px;
  line-height: 1.4;
  text-decoration: none;
  transition: all .3s ease-in-out;
}
.sub-menu__link:hover {
  background-color: #efefef;
}
.has-sub-menu i {
  transition: all .3s ease-in-out;
}
.nav-dropdown__btn .icon-arrow-down {
  font-size: 16px;
  cursor: pointer;
}
.nav-dropdown__btn .icon-arrow-down::before {
  color: #757575;
}
.personal-container {
  border: 1px solid #e0e0e0;
  border-radius: 1000px;
  cursor: pointer;
}
.personal__name {
  color: #424242;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
}
.personal-dropdown__trigger .icon-arrow-down {
  font-size: 16px;
  color: #757575;
}
.burger {
  border: none;
  color: #757575;
  background-color: transparent;
  cursor: pointer;
}
.burger::before,
.burger::after {
  background-color: currentColor;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
}
.burger__line {
  background-color: currentColor;
  transition: transform 0.3s ease-in-out;
}
.burger--active::before {
  transition: transform 0.3s ease-in-out, 0.3s ease-in-out;
}
.burger--active::after {
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
}
.burger--active .burger__line {
  transition: transform 0.3s ease-in-out;
}
.burger-wrapper {
  cursor: pointer;
}

.footer {
  background-color: #f3f2f2;
  font-family: "Roboto", sans-serif;
}
.footer-line {
  background-color: rgba(217, 214, 211, 0.7);
}
.footer-desktop p {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
}
.footer__link {
  color: black;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  border-bottom: 1px solid transparent;
  text-decoration: none;
  transition: all .3s ease-in-out;
}
.footer__link:hover {
  border-color: black;
  text-decoration: none;
}
.footer-copyright p {
  color: #69625c;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.4;
}
.footer-social__link img {
  transition: all .3s ease-in-out;
}

@media (max-width: 767px) {
  .footer-list:not(:last-child) {
    border-bottom: 1px solid rgba(217, 214, 211, 0.7);
  }
  .footer-copyright p {
    font-size: 12px;
  }
}
.breadcrumbs__item {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  text-decoration: none; 
}
.breadcrumbs__item .icon-arrow-right {
  font-size: 24px;
}
.breadcrumbs__item .icon-arrow-right::before {
  color: #424242;
}
.breadcrumbs__link {
  color: #757575;
  text-decoration: none; 
}
.estate-filter {
  background-color: white;
}
.estate-filter__description {
  color: black;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
}
.estate__title {
  font-family: 'Titulos', sans-serif;
  color: black;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.2;
}
.dropdown-search {
  border: 1px solid #bdbdbd;
  border-radius: 100px;
}
.dropdown-search .dropdown-label {
  height: 40px;
  line-height: 1.4;
}
.dropdown-search .dropdown-list {
  background-color: #fff;
  border-radius: 8px;
}
.dropdown-search .icon-close:before {
  color: #757575;
}
#e-search {
  font-family: 'Textos', sans-serif;
  color: #424242;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  border: none;
  outline: none;
  background: transparent;
}
#e-search::-moz-placeholder {
  font-family: 'Textos', sans-serif;
  color: #bdbdbd;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
}
#e-search:-ms-input-placeholder {
  font-family: 'Textos', sans-serif;
  color: #bdbdbd;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
}
#e-search::placeholder {
  font-family: 'Textos', sans-serif;
  color: #bdbdbd;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
}
.estate-filter-wrapper .vertical-line::after {
  background-color: #e0e0e0;
}
.dropdown .btn-reset .icon-close {
  font-size: 24px;
}
.dropdown {
  font-size: 14px;
  color: #333;
}
.dropdown.on .dropdown-label {
  background-color: #e9e9fd;
  border-color: #5063f0;
}
.dropdown.on .dropdown-label:active {
  background-color: #e9e9fd;
  border-color: #5063f0;
}
.dropdown.on .dropdown-label:hover {
  background-color: #e9e9fd;
  border-color: #5063f0;
}
.dropdown.on .dropdown-label.multiple-selected,
.dropdown.on .dropdown-label.one-selected {
  background-color: #5063f0;
  border-color: #5063f0;
}
.dropdown.on .dropdown-list {
  transition-delay: 0s;
}
.dropdown.on .dropdown-list .dropdown-option {
  transition-delay: 0.2s;
}
.dropdown-search .dropdown-label {
  border: none;
}
.dropdown-search.on .dropdown-label, .dropdown-search.on .dropdown-label:hover {
  background-color: transparent;
  border: none;
}
.dropdown-search .dropdown-label:hover {
  background-color: transparent;
  border: none;
}
.dropdown-list {
  background: white;
  box-shadow: 0px 0px 7.5px -1px rgba(0, 0, 0, 0.15),
    0px 10px 12.5px -5px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  transition: transform 0.15s ease-in-out 0.15s;
}
.dropdown__badge {
  color: #424242;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.4;
}
.dropdown-buttons button {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.4;
  border-radius: 8px;
}
.dropdown-clear {
  color: #5063f0;
  cursor: pointer;
}
.dropdown-apply {
  color: white;
  background-color: #5063f0;
  cursor: pointer;
}
.dropdown-option {
  color: #424242;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  cursor: pointer;
  transition: opacity 0.15s ease-in-out;
  cursor: pointer;
}
.dropdown-option::after {
  border: 2px solid #757575;
  border-radius: 2px;
  transition: all 0.3s ease-in-out;
}
.dropdown-option::before {
  font-size: 16px;
  color: white;
  font-family: 'icomoon';
}
.dropdown-label {
  background-color: transparent;
  border: 1px solid #bdbdbd;
  border-radius: 100px;
  line-height: 1;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.dropdown-label.one-selected {
  background-color: #5063f0;
  border-color: #5063f0;
}
.dropdown-label.one-selected span {
  color: white;
}
.dropdown-label.one-selected:hover {
  background-color: #5063f0;
  border-color: #5063f0;
}
.dropdown-label.multiple-selected {
  background-color: #5063f0;
  border-color: #5063f0;
}
.dropdown-label.multiple-selected span {
  color: white;
}
.dropdown-label.multiple-selected:hover {
  background-color: #5063f0;
  border-color: #5063f0;
}
.dropdown-label span {
  color: #424242;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
}
.dropdown-label:after {
  font-family: "icomoon";
  color: #424242;
  font-size: 24px;
}
.dropdown-label::before {
  border: 1px solid #5063f0;
  border-radius: 100px;
  transition: all 0.3s ease-in-out;
}
.dropdown-label:hover {
  background-color: #e0e0e0;
  border-color: #bdbdbd;
}
.dropdown-label:active {
  border-color: #bdbdbd;
  background-color: transparent;
}
.dropdown-label_active {
  background-color: #e9e9fd;
  border-color: #5063f0;
}
.dropdown-label_active:active {
  background-color: #e9e9fd;
  border-color: #5063f0;
}
.dropdown-label_active:hover {
  background-color: #e9e9fd;
  border-color: #5063f0;
}
.dropdown-label_selected {
  background-color: #5063f0;
}
.dropdown [type="checkbox"]:checked ~ .dropdown-option::after {
  border-color: #5063f0;
  background-color: #5063f0;
}
.radio-container label, .checkbox-container label {
  color: #424242;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
  background-color: transparent;
  border: 1px solid #bdbdbd;
  border-radius: 100px;
  cursor: pointer;
  transition: all .3s ease-in-out;
}
.radio-container input[type="radio"]:checked + label {
  background-color: #e9e9fd;
  color: #1f3bdf;
  border-color: #5063f0;
}
.checkbox-container input[type="checkbox"]:checked + label {
  background-color: #5063F0;
  color: #ffffff;
  border-color: #5063F0;
}
.input-box {
  background-color: transparent;
}
.input-box::before {
  color: #424242;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
}
.input-box input {
  outline: none;
  border: 1px solid #bdbdbd;
  border-radius: 8px;
  color: #424242;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
}
.input-box input::-moz-placeholder {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
}
.input-box input:-ms-input-placeholder {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
}
.input-box input::placeholder {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
}
.input-box input:focus::placeholder {
  color: transparent;
}
.furniture input[type="radio"]:checked + label,
.pets input[type="radio"]:checked + label {
  background-color: #5063f0;
  color: white;
  border-color: #5063f0;
}

.estate-hero-card {
  border: 1px solid #eeeeee;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
}
.estate-hero-card:hover {
  box-shadow: 0px 0px 7.5px -1px rgba(0, 0, 0, 0.15),
    0px 10px 12.5px -5px rgba(0, 0, 0, 0.15);
}
.estate-hero-card__title {
  font-family: 'Titulos', sans-serif;
  color: #424242;
  font-size: 21px;
  font-weight: 500;
  line-height: 1
}
.estate-hero-card__subtitle {
  color: #424242;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
}
.estate-hero-card__description {
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
}
.estate-hero-card-price__rent {
  color: #757575;
  font-size: 14px;
  line-height: 1.4;
}
.estate-hero-card-price__total {
  font-family: 'Titulos', sans-serif;
  color: #009b5d;
  font-size: 21px;
  line-height: 1.1;
}
.estate-hero-card-properties {
  border-left: 1px solid #eeeeee;
}
.estate-hero-card-properties__item span {
  color: #424242;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
}
.estate-hero-card__link {
  color: #5063f0;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.4;
  border: 1px solid #5063f0;
  border-radius: 8px;
  background-color: #ffffff;
  transition: all 0.15s ease-in-out;
}
.estate-hero-card__link .ripple {
  border-radius: 50%;
  background-color: #ffffff;
  -webkit-animation: ripple 0.4s linear;
  animation: ripple 0.4s linear;
}
@-webkit-keyframes ripple {
  to {
    transform: scale(2);
    opacity: 0;
  }
}

@keyframes ripple {
  to {
    transform: scale(2);
    opacity: 0;
  }
}
.estate-hero-card__link:hover {
  background-color: #e9e9fd;
}
.estate-hero-card__link:active {
  color: #ffffff;
  background-color: #5063f0;
}
.sort-dropdown__trigger {
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  cursor: pointer;
}
.sort-dropdown__trigger i {
  font-size: 24px;
}
.sort-dropdown__trigger i::before {
  color: #424242;
}
.sort-dropdown__trigger span {
  color: #424242;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.4;
}
.sort-dropdown-list {
  box-shadow: 0px 0px 7.5px -1px rgba(0, 0, 0, 0.15),
    0px 10px 12.5px -5px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  background-color: white;
}
.sort-dropdown__item {
  color: #424242;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}
.sort-dropdown__item:hover {
  background-color: #efefef;
}
.result {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
}
#s-select {
  color: #424242;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.4;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  background: transparent;
}
.pagination-result {
  color: black;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
}
.pagination-item {
  color: #424242;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  border-radius: 100%;
  border: 1px solid transparent;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}
.pagination-item i {
  font-size: 24px;
}
.pagination-item i::before {
  color: black;
}
.pagination-item.current {
  color: white;
  background-color: #5063f0;
}
.pagination-item.current:hover {
  background-color: #5063f0;
  color: white;
}
.pagination-item.disabled i::before {
  color: #bdbdbd;
}
.pagination-item:active {
  border-color: #5063f0;
  background-color: transparent;
}
.pagination-item:active:hover {
  background-color: transparent;
}
.pagination-item:hover {
  background-color: #eeeeee;
}
.pagination .dots {
  color: #424242;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  pointer-events: none;
}
.estate-info {
  border-top: 1px solid #e0e0e0;
}
.estate-info p {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
}
.estate-properties {
  border-top: 1px solid #e0e0e0;
}
.estate-properties-list:nth-child(3)::before,
.estate-properties-list:nth-child(3)::after {
  background-color: #eeeeee;
}
.estate-properties__link {
  color: #5063f0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  background: linear-gradient(180deg, #e9e9fd 0, #e9e9fd 98%);
  background-size: 100% 1px;
  background-repeat: no-repeat;
  background-position: left 100%;
  text-decoration: none;
}
.estate-properties-more p {
  color: #69625c;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
}
.estate-properties-more__link {
  color: white;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.3;
  background-color: #5063f0;
  border: 2px solid #5063f0;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}
.estate-properties-more__link:hover {
  color: #5063f0;
  background-color: white;
}
.estate-properties-more__link:active {
  color: #5063f0;
  background-color: #e9e9fd;
}

@media (max-width: 1400px) {
  .nav__link {
    font-size: 14px;
  }
}
@media (max-width: 1200px) {
  .help__link {
    font-size: 14px;
  }
  .header-navbar {
    background-color: white;
    transition: all 0.3s ease-in-out;
  }
  .help-link {
    font-size: 16px;
  }
  .nav__link {
    font-size: 16px;
  }
  .pagination-item.next, .pagination-item.prev {
    background-color: #FFFFFF;
    box-shadow: 0px 0px 11.25px -2px rgba(0, 0, 0, 0.15), 0px 20px 25px -10px rgba(0, 0, 0, 0.15);
  }
  .pagination-item.next.disabled, .pagination-item.prev.disabled {
    background-color: transparent;
    box-shadow: unset;
  }
  .pagination-item.current {
    background-color: transparent;
    color: #424242;
  }
  .pagination-item.current:hover {
    background-color: transparent;
    color: #424242;
  }
}
@media (max-width: 767px) {
  .checkbox-container label {
    font-size: 14px;
  }
  .dropdown-label::after {
    font-size: 16px;
  }
  .dropdown-search .dropdown-label::after {
    font-size: 20px;
  }
  .dropdown .btn-reset .icon-close {
    font-size: 16px;
  }
  .sort-dropdown .mobile {
    color: #424242;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3;
  }
  .sort-dropdown__trigger {
    border: 0;
  }
  .sort-dropdown__trigger span {
    color: #5063F0;
  }
  .sort-dropdown__trigger .icon-arrow-down {
    font-size: 16px;
  }
  .sort-dropdown__trigger .icon-arrow-down::before {
    color: #5063F0;
  }
  .estate-hero-container {
    border-top: 1px solid #eeeeee;
    background: #FAFAFA;
  }
  .estate__title, .dropdown-search {
    transition: all .1s ease-in-out;
  }

  .dropdown-list {
    border-radius: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  .dropdown.on .overflow {
    background-color: #424242;
    opacity: 0.5;
  }
  .estate__title {
    font-size: 21px;
    font-weight: 700;
  }
  .dropdown__close:before, .dropdown__close:after {
    background-color: #424242;
  }
  .estate-hero-card-properties__item:not(:first-child)::before {
    content: "•";
    color: #424242;
  }
  .estate-hero-card-price__rent {
    font-size: 12px;
  }
  .estate-hero-card-price__total {
    font-size: 18px;
  }
  .estate-hero-card__title {
    font-size: 16px;
  }
  .estate-hero-card__subtitle {
    font-size: 14px;
  }
  .swiper-button {
    border-radius: 100%;
  }
  .swiper-button::before {
    font-size: 16px;
  }
}